br {
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: xx-large;
}

h4 {
    font-size: medium;
    font-weight: bold;
}

th, td {
    margin: 0;
    padding: .25em;
    border: solid 1px silver;
}

.usgs-header {
    background-color: #317eac;
    margin: 0;
    padding: 5px;
    color: white;
    height: 50px;
}
.usgs-header-content {
    float: right;
    margin: .75em 1em 0 0;
    color: white;
    font-weight: bold;
}
.usgs-header a {
    color: white;
}
.usgs-header img {
    display: inline-block;
    float: left;
}
.usgs-header h1 {
    float:left;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin: .25em 0 0 1em;
}

.page-header {
    border-bottom: solid 1px silver;
    margin-bottom: 1em;
}

.vsc-padded {
    padding: .5em 1em .5em 1em;
}

.vsc-right {
    display: block;
    float: right;
}

.vsc-left {
    display: block;
    float: left;
}

.vsc-sub {
    margin: 1em 0 1em 0;
}

.red {
    color: #a52834;
}

/* Using bootstrap for most of styling, but need to control space around flash output. */
.vsc-alert {
    margin-top: 1em;
    margin-bottom: 0;
}

/* Right padding only */
.vsc-rpo {
    padding-left: 0;
}

.vsc-has-error {
    border: solid 1px red;
}

.vsc-confirm {
    cursor: pointer;
    display: inline;
}

.well hr {
    border: 0;
    border-top: 1px solid black;
}

.alert {
    margin-bottom: 1em;
}

.panel {
    margin: 1em;
    padding: 0;
    border: solid 1px gray;
    border-radius: 5px;
}

.panel-heading {
    background-color: #00264c !important;
    color: white;
    padding: .5em;
}

.panel-title {
    font-size: large;
    font-weight: bold;
    display: inline-block;
    margin-left: .5em;
    margin-top: .4em;
}

.panel-body {
    padding: .5em;
}

.form-group {
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

/* ESRI Volcano Map CSS */
#map {
    height: 500px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}
 
#mh {
    display: none;
    border: solid 1px black;
    z-index: 999;
    position: absolute;
    padding: .25em;
    background-color: silver;
}
