/* Adjust USGS VIS header and footer. ******************************************************************************* */

html, body {
    height: 100%;
    margin: 0;
}

.header-search button[type="submit"] { 
    right: 0px;
    top: -5px;
}

/* Add left and right margins to entire webapp if wide device. ****************************************************** */

@media only screen and (min-width:992px) {

    .tmp-container, .main-container {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-doi {
        width: 65%;
        float: left;
    }

    .footer-social-links {
        margin-top: 1em;
        width: 30%;
        float: right;
    }
}

/* Sticky Footer **************************************************************************************************** */

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Column layout within body content. ******************************************************************************* */

.container {
    display: flex;
	flex-wrap: wrap;
}

.col-1-narrow {
    flex-shrink: 0; /* shrinks to 0 to apply 35% width*/
    flex-basis: 35%; /* sets initial width to 35% */
}

.col-2 {
    flex-shrink: 0;
    flex-basis: 60%;
}

.col-fullwidth {
    flex-shrink: 0; /* shrinks to 0 to apply 100% width*/
    flex-basis: 100%; /* sets initial width to 100% */
}

.col-halfwidth {
	flex-shrink: 0;
	flex-basis: 45%;
}

.col-quarter-width {
	flex-shrink: 0;
	flex-basis: 20%;
}

.col-threequarter-width {
	flex-shrink: 0;
	flex-basis: 70%;
}

.box {
    padding: 10px;
    margin: .5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: [first] 8em [second] auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px
}

@media only screen and (max-width:992px) {

    .container { /* Place the items in vertical direction. */
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: [first] 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px
    }
    
    .box {
        margin: 0 0 1rem;
    }
	
	.col-halfwidth {
		flex-shrink: 0;
		flex-basis: 100%;
	}
}

/* HTML element modifications. ************************************************************************************** */

a {
    text-decoration: none;
    color: navy;
}

a:visited {
    color: navy;
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
}

input:required:invalid, input:focus:invalid {
    border-color: red;
}

hr {
    clear: both;
    margin: 0;
    padding: 0;
}

/* Convenience classes. ********************************************************************************************* */

.hidden {
    display: none;
}

.float-right {
    float: right;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.top-margin-1em {
    margin-top: 1em;
}

.padding-1em {
    padding: 1em;
}

.width-half {
	width: 50%;
	display: inline-block;
}

.pointer {
    cursor: pointer;
}

/* Generic classes that affect UI. ********************************************************************************** */

.pager {
    display: inline-block;
    border: solid 1px #dddddd;
    border-radius: 1.25rem;
    margin: .25em;
    padding: .5em 1em .5em 1em;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: 10pt;
    color: #2fa4e7;
}
.pager:hover {
    background-color: #dddddd;
}

.reset-btn {
    display: inline-block;
    border: solid 1px gray;
    border-radius: .25rem;
    margin: .25em .5em .25em .5em;
    padding: .25em .5em .25em .5em;
    min-width: 4em;
    text-align: center;
}

.selection-btn {
    display: inline-block;
    border: solid 1px gray;
    border-radius: .25rem;
    margin: .25em .5em .25em .5em;
    padding: .25em .5em .25em .5em;
    min-width: 4em;
    text-align: center;
    background-color: #88c149;
    font-weight: bold;
    color: white;
}

.selection-btn:hover {
	background-color: #699934;
    font-weight: bold;
    color: white;
}

.selection-btn:disabled {
    background-color: #88c149;
    font-weight: normal;
    color: gray;
}

.vsc-form-label {
    display: inline-block;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}

.vsc-form-ele {
    display: inline-block;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media only screen and (max-width:992px) {
    .vsc-form-label {
        max-width: 75%;
    }
    
    .vsc-form-ele { 
        max-width: 90%;
    }
}

.loading-spinner {
    margin-left: .5em;
    float: right;
}

.hidden {
    display: none;
}

.slide-up {
	-moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
     -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: transform .5s;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

/* Classes that work with form elements and form functionality. ***************************************************** */

.gray-background {
	background-color: rgb(0,0,0) !important; /* Fallback color */
	background-color: rgba(0,0,0,0.02) !important; /* Black w/ opacity */
}

.input-group {
    margin: .5em 0 .5em 0;
}

.input-field[type="text"], .input-field[type="password"], .input-field[type="email"], select.input-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid silver;
    border-radius: .25rem;
}

.error-msg {
    border: 1px solid red;
    color: red;
    width: 100%;
    margin: .5em .5em .5em 0;
    padding: 5px;
    border-radius: .25rem;
    flex-wrap: wrap;
}

.error-text {
	color: red;
}

.alert-text {
	color: red;
    font-weight: bold;
}

.success-text {
	color: green;
}

.info-msg {
    border: 1px solid orange;
    color: orange;
    width: 100%;
    margin: .5em .5em .5em 0;
    padding: 5px;
    border-radius: .25rem;
    flex-wrap: wrap;
}

.info-text {
	color: orange;
}

.submit-btn {
    padding: .375rem;
    margin: .5em 0 .5em 0;
}

.delete-btn {
	color: red;
	padding: .375rem;
    margin: .5em 0 .5em 0;
	border: solid 1px red;
	border-radius: .25rem;
	cursor: pointer;
}

.vsc-padded {
	padding: .5em 1em .5em 1em;
}

.vsc-right {
	display: block;
	float: right;
}

.vsc-left {
	display: block;
	float: left;
}

.vsc-warning {
    font-weight: bold;
    color: red;
}

/* For ModalPopup *************************************************************************************************** */

.vsc-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Container/Box */
.vsc-modal-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.vsc-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.vsc-modal-close:hover, .vsc-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

